<!DOCTYPE html>

<html lang="fa">

<head>

```
<meta charset="UTF-8">

<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
>

<title>ویرایش متریال</title>

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
>
```

</head>

<body>

```
<h1>ویرایش متریال</h1>

<form method="POST">

    <label>نام متریال</label>

    <input
        type="text"
        name="name"
        value="{{ material.name }}"
        required
    >

    <label>عرض ورق</label>

    <input
        type="number"
        name="width"
        value="{{ material.width }}"
        required
    >

    <label>طول ورق</label>

    <input
        type="number"
        name="height"
        value="{{ material.height }}"
        required
    >

    <label>قیمت</label>

    <input
        type="number"
        name="price"
        value="{{ material.price }}"
        required
    >

    <button type="submit">

        ذخیره تغییرات

    </button>

</form>

<br>

<a href="/">

    بازگشت به صفحه اصلی

</a>
```

</body>

</html>
